.page{
    height:93vh;
    background-color: #2F0443;
    

}

.save{
    background-color: #a717eb;
    width:170px;
    height:50px;
    border-radius: 10px;
}
.categoryimage{
    width:200px;
    height:200px;
    border:2px solid black;
    position:relative;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items: end;
    /* display:flex;
    align-items: end;
    justify-content:center; */
    margin-left:7px;
    /* padding-left:10px; */
    /* display:flex;
    align-items: center; */
    /* margin-bottom: 10px; */
    /* background-color: red; */
}

.savebtn{
    display:flex;
    justify-content: center;
}
.imagesection{
    display:flex;
    justify-content: center;
    

}
.category-emptyimg{
    
position:absolute;
width:180px;

    
}
/* .edit-category{
    position:absolute;
} */