ul li{
    list-style: none;
}
ul{
    background: aliceblue;
    width: 400px;
    position: absolute;
    height: 100vh;
}
.navbar{
    position:relative;
}
.nav{
    height:50px;
    width:290px;
    background-color:#FFF;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 290px;
    background-color: #FFF;
    margin-bottom: 20px;
}
.user{
    /* padding-top:100px; */
    padding-bottom: 100px;
    padding-top:100px
}
.designby{
    padding-top:220px;
    /* padding-top:400px; */
}
.nav:hover{
    background-color:#f0e9f3;
}
.registerpage{
    height:620px;
}
