.addcategory{
    background-color:#a803f5;
    height:auto;
    width:80vw;
}
.categorytext{
    background-color: #7204a5  !important;
    /* padding-left:100px; */
    /* width:100%; */
    height:50px;
    border-radius: 10px;
    width:20vw;
}
.category-image{
    display:flex;
    justify-content: center;
    position:relative;
    margin-top:20px;
    
}
.add-category-image{
    width:30%;
    height:98%;
    
}
.file-image{
    position:absolute;
   
    width:28%;
    height:98%;
    z-index: 1;
    opacity: 0;
    
    
}
.clickimage{
    width:30%;
    height:98%;
    position:absolute;
    z-index: 2;
    border-radius: 10px;
}
.form-control::placeholder {
    margin-left: 500px; /* Adjust the margin as needed */
}
.nameandtext{
    position:relative;
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.categoryname{
    margin-left:10px;
    position:absolute;
    color:#FFF;
    z-index: 1;
    display:flex;
    align-items: center;
}
.savecategory{
    display:flex;
    justify-content: center;
    margin-bottom:50px;
    margin-top:30px;
}
.savecategory-button{
    width:190px;
    height:50px;
    border-radius: 10px;
    background-color: #a351ca;
}
.addpage{
    height:100vh;
    background-color: #2F0443;
    overflow-y: scroll;
    display:flex;
    align-items: center;
    justify-content: center;
    /* filter:blur(1px) */
    /* display:flex;
    align-items: center;
    justify-content: center; */

}