/* .showbooking-table{
    border:1px solid red;
    border-right:1px solid red;
    
} */
table, th, td {
    border:1px solid black;
    /* width:100%; */
  }
table{
    width:100%;
}
.showbooking-img{
    width:100px;
    height:100px;
    object-fit: cover;
}
.book-44{
    padding-left:50px;
    /* padding-left:100px; */
}
/* .problemlist-img{
    
} */